<template>
  <v-card>
    <v-form @submit.prevent="submitForm()">
      
      <p v-if="errors.length">
        <b>Please correct the following errors :</b>
        <ul>
          <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
        </ul>
      </p>

      <v-text-field
        label="Title"
        :disabled="buttonStatus == 'upload'"
        name="title"
        ref="title"
        v-model="title"
        hide-details="auto">
      </v-text-field>
      
      <v-textarea
        background-color="grey lighten-2"
        color="cyan"
        label="Description"
        name="description"
        :disabled="buttonStatus == 'upload'"
        ref="description"
        v-model="description"
      ></v-textarea>

      <div v-if="buttonStatus == 'submit'">
        <v-btn type="submit" value="SUBMIT" depressed color="success" class="my-4">Submit</v-btn>
      </div>

      <div v-else-if="buttonStatus == 'update'">
        <center>
        <v-btn class="button" color="success" @click="updateBlog(idEditBlog)" value="UPDATE" >Update</v-btn>
        <v-btn class="button" color="error"  @click="clearForm"> CANCEL </v-btn>
        </center>
      </div>

      <div v-else-if="buttonStatus == 'upload'">
        <input type="file" name="photo" ref="photo" />
        <input type="button" value="UPLOAD" @click="submitPhoto(idUploadBlog)" style="margin-top: 5px" />
        <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px" />
      </div>

    </v-form>

     <br><br>

   <table border=1> 
      <tr v-for="blog of blogs" v-bind:key="blog">
        <td>
          <img width=100 :src="blog.photo ? apiDomain + blog.photo : 'https://selzimg.s3.amazonaws.com/items/165430/sg3c2l4fhpn/original.jpg'" alt="">
        </td>
        <td>
          <b>Title : </b> {{ blog.title }} <br>
          <b>Description : </b> {{ blog.description }} <br>

        </td>
        <td width="200px" height ="120px">
          <center>
          <v-btn class="button" elevation="2"  @click="editBlog(blog)">Edit</v-btn> 
          <v-btn class="button" elevation="2" @click="removeBlog(blog.id)">Hapus</v-btn>
          <v-btn class="button" elevation="2" @click="uploadPhoto(blog.id)" width="160px">Upload Foto</v-btn>
          </center>
        </td>
      </tr>
   </table>
  </v-card>
</template>


<script>
export default {
  data: () => ({
    title: "",
    description: "",
    errors: {},
    blogs: {},
    apiDomain: "http://demo-api-vue.sanbercloud.com/",
    buttonStatus: "submit",
    idEditBlog: null,
    idUploadBlog: null,
  }),

  methods: {
    validationForm: function () {
      this.errors = []

      if (this.title.length < 5) {
        this.errors.push("Title minimal 5 karakter");
        this.$refs.title.focus();
      }
      if (this.description.length == 0) {
        this.errors.push("Description tidak boleh kosong");
        this.$refs.description.focus();
      }
    },

    submitForm: function () {
      this.validationForm();

      if (this.errors.length === 0) {
        let formData = new FormData();
        formData.append("title", this.title);
        formData.append("description", this.description);

        const config = {
          method: "post",
          url: `${this.apiDomain}/api/blog`,
          data: formData,
        };

        this.axios(config)
          .then((response) => {
            this.clearForm();
            this.getBlogs();
            alert(response.data.message);
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },

    getBlogs: function () {
      const config = {
        method: "get",
        url: `${this.apiDomain}api/blog`,
      };

      this.axios(config)
        .then((response) => {
          this.blogs = response.data.blogs;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    removeBlog: function (id) {
      const config = {
        method: "post",
        url: `${this.apiDomain}/api/blog/${id}`,
        params: {
          _method: "DELETE",
        },
      };

      this.axios(config)
        .then((response) => {
          this.getBlogs();
          alert(response.data.message);
        })
        .catch((error) => {
          console.log(error);
        });

      console.log(id);
    },

    editBlog: function (blog) {
      this.title = blog.title;
      this.description = blog.description;
      this.buttonStatus = "update";
      this.idEditBlog = blog.id;
    },

    clearForm: function () {
      this.title = "";
      this.description = "";
      this.buttonStatus = "submit";
      this.idEditBlog = null;
      this.idUploadBlog = null;
    },

    updateBlog: function (id) {
      this.validationForm();

      if (this.errors.length === 0) {
        let formData = new FormData();
        formData.append("title", this.title);
        formData.append("description", this.description);

        let config = {
          method: "post",
          url: `${this.apiDomain}/api/v2/blog/${id}`,
          params: {
            _method: "PUT",
          },
          data: formData,
        };

        this.axios(config)
          .then((response) => {
            this.clearForm();
            this.getBlogs();

            alert(response.data.message);
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },

    uploadPhoto: function (blog) {
      this.title = blog.title;
      this.description = blog.description;
      this.buttonStatus = "upload";
      this.idUploadBlog = blog.id;
    },

    submitPhoto: function (id) {
      let file = this.$refs.photo.files[0];

      let formData = new FormData();
      formData.append("photo", file);

      let config = {
        method: "post",
        url: `${this.apiDomain}/api/v2/blog/${id}/upload-photo`,
        data: formData,
      };

      this.axios(config)
        .then((response) => {
          this.clearForm();

          this.getBlogs();

          alert(response.data.message);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  created() {
    this.getBlogs();
  },
};
</script>

<style>
form {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  width: 225px;
  background: #ffffff;
}

label {
  display: block;
  margin-top: 5px;
}

select,
option {
  min-width: 200px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
button {
  border: 1px black;
}
</style>