<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
        <v-form ref="form" >
            <v-text-field
                v-model="name"
                label="Name"
                required
                append-icon="mdi-account-circle"
            ></v-text-field>
            <v-text-field
                v-model="email"
                label="E-mail"
                required
                append-icon="mdi-email"
            ></v-text-field>
            <v-text-field
                v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                label="Password"
                counter
                @click:append="showPassword = !showPassword"
            ></v-text-field>
            <input type="file" name="photo_profile" ref="photo_profile" style="margin-bottom:15px;">

            <div class="text-xs-center">
            <v-btn
                color="success lighten-1"
                @click="register"
            >
                Register
                <v-icon right dark>mdi-account-plus</v-icon>
            </v-btn>



            </div>
        </v-form>
    </v-container>



    </v-card>
</template>

<script>

import { mapActions } from 'vuex';

export default {
    data() {
        return {
            email: '',
            password: '',
            showPassword: false,
            name: '',
            photo_profile: null,
            apiDomain: "https://demo-api-vue.sanbercloud.com"

        }
    },
    
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken'
        }),

        close() {
            this.$emit('closed', false)
        },


        register() {
            

            let formData = new FormData()
            formData.append("email", this.email)
            formData.append("password", this.password)
            formData.append("name", this.name)
            formData.append("photo_profile", this.$refs.photo_profile.files[0])
     
            const config = {
                method: "post",
                url: this.apiDomain + "/api/v2/auth/register",
                data : formData
                }
            this.axios(config)
                    .then( (response) => {
                        
                        this.setToken(response.data.access_token)

                        this.setAlert({
                            status : true,
                            color : 'success',
                            text : 'Register Berhasil'
                        })
                        this.close()

                    })
                    .catch( (response) => {
                        console.log(response.message)

                        this.setAlert({
                            status : false,
                            color : 'error',
                            text : 'Register Gagal',
                        })


                    })


        }
    
    },
}
</script>